.logo {
	fill: $color-white;
	font-size:28.92px;
	font-family:'OpenSans-SemiBold', sans-serif;
	font-weight:600 ;
	letter-spacing:0.19em;
	width: 14.9vw;
	height: 12vh;
}
.phone {
	fill: $color-white;
	width: 1.7vw;
	height: 1.7vw;
}
.copyright {
	fill: $color-gray;
	width: 0.4vw;
	height: 0.4vw;
	margin-right: 0.2vw;
}
