section.style
	.container
		.style-slider
			.style-slide
				.style-slide__photo
					img(src="images/style-slider/item.jpg")
				.style-slide__wrap
					h2.title.style-slide__title
						| Стили Лестниц
					.style-slide__arrows
						.arrow.arrow--left
							+svg('arrow').svg-arrow
						.arrow.arrow--right
							+svg('arrow').svg-arrow
					h3.subtitle.style-slide__subtitle
						| Викторианский стиль
					.style-slide__desc
						p.style-slide__par
							| Лестница - это не просто предмет интерьера, это прежде всего
							b &nbsp;душа
						p.style-slide__par
							| Наша компания изготавливает лестницы в самых разнообразных стилях: от классического и викторианского до современного и минималистичного модерна.
					.style-slide__dots
						.dot.dot--active
						.dot
						.dot
						.dot
						.dot
						.dot

