nav.menu
	ul.menu__list
		li.menu__item.menu__item--active
			a(href="#").menu__link
				span
					| Главная
		li.menu__item
			a(href="#").menu__link
				span
					| Преимущества
		li.menu__item
			a(href="#").menu__link
				span
					| Стили
		li.menu__item
			a(href="#").menu__link
				span
					| Материалы и конструкция
		li.menu__item
			a(href="#").menu__link
				span
					| Получить консультацию
		li.menu__item
			a(href="#").menu__link
				span
					| Контакты
