section.feedback
	.feedback__wrap
		.title
			| Обратная связь
		.subtitle
			| Получите
			br
			| Консультацию
		p.par
			| Оставьте заявку, заполнив форму обратной связи, и наши специалисты проконсультируют Вас по любому вопросу.
		form.feedback-form
			span.input-wrap
				input(type="text" placeholder="Ваше имя").input
			span.input-wrap
				input(type="text" placeholder="+7 (999) 999-99-99").input
			button.btn
				| Получить консультацию
