section.advantages
	.advantages__wrap
		h2.title.advantages__title
			| Наши преимущества
		h3.subtitle.advantages__subtitle
			| Выгодные условия
		ul.accordion
			+accordionItem('Рассрочка платежа', 'money', 'active')
			+accordionItem('Гарантия качества', 'shield', '')
			+accordionItem('Кратчайшие сроки', 'clock', '')
			+accordionItem('Только эксклюзивные проекты', 'individual', '')
			+accordionItem('3D-модель каждой лестницы', '3d', '')
	.advantages__info
		.advantages__info-wrap
			.advantages__info-title
				| Гарантия
			.advantages__info-big
				| 36
			.advantages__info-subtitle
				| Месяцев
