footer.footer
	.container
		.footer__wrapper
			.footer__left
				.footer__left-wrap
					.footer__logo
						+svg('logo').logo
					h3.subtitle.footer__subtitle
						| Творим с удовольствием
						br
						| и любовью
					.footer__desc
						p.par.par--italic
							| Лестница - это не просто предмет интерьера,
							br
							| это прежде всего душа и роскошь Вашего дома.
						p.par
							| При производстве наших лестниц мы придерживаемся всех канонов и традиций  стран южной европы: Италии, Испании, Франции, по-этому душа дерева в наших лестницах раскрывается в самых прекрасных ее проявлениях, создавая неповторимый стиль и сохраняя всю силу и первозданность природы.
				.copy
					+svg('copyright').copyright
					| 2019  All right reserved
			.footer__right
				+svg('rail').rail
				.footer__wrap
					.footer__info
						.footer__info-name
							| наш телефон
						.footer__info-wrap
							+svg('phone').footer__svg
							a(href="tel:+79998888856").footer__link
								| + 7 (999) 888-88-56
						.footer__info-name
							| e-mail
						.footer__info-wrap
							+svg('gmail').footer__svg
							a(href="mailto:yaspengost@gmail.com").footer__link
								| yaspengost@gmail.com
					.footer__social
						.footer__info-name
							| Социальные Сети
						.social
							a(href="#")
								+svg('vk').footer__svg
							a(href="#")
								+svg('telegram').footer__svg
							a(href="#")
								+svg('whatsapp').footer__svg
							a(href="#")
								+svg('viber').footer__svg
