// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-green: #17201F;
$color-brown: #332A24;
$color-brown-light: #9C8B57;
$color-gray: #B8B8B8;

// FONTS
